{% extends "base.html" %}
{% block title %}
    Lista de Libros
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if libros.count == 0 %}
                <div class="my-5">
                    <h2>No se han encontrado libros que coincidan con la busqueda.</h2>
                </div>
            {% endif %}
            {% for libro in libros %}
                <div class="col-md-4">
                    <div class="card my-3">
                        <img src="{{ libro.image.url }}"
                             class="card-img-top"
                             alt="{{ libro.title }}"
                             height="400px"
                             width="auto"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ libro.title }}</h5>
                            <h6 class="card-text">{{ libro.author }}</h6>
                            <p class="card-text">$ {{ libro.price }}</p>
                            <a class="btn btn-primary btn-block"
                               href="{{ libro.get_absolute_url }}"
                               role="button">Ver libro &#187</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
