{% extends "base.html" %}
{% load static %}
{% block title %}
    Lista de Libros
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1>Lista de libros</h1>
                {% if user.is_superuser %}
                    <div class="btn-group" role="group" aria-label="links">
                        <a href="{% url 'libreria:create' %}"
                           type="button"
                           class="btn btn-secondary">Agregar libro</a>
                        <a href="{% url 'libreria:autor-create' %}"
                           type="button"
                           class="btn btn-secondary">Agregar autor</a>
                        <a href="{% url 'libreria:genero-create' %}"
                           type="button"
                           class="btn btn-secondary">Agregar género</a>
                        <a href="{% url 'libreria:idiomas-create' %}"
                           type="button"
                           class="btn btn-secondary">Agregar idioma</a>
                    </div>
                {% endif %}
                <table class="table table-hover table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Géneros</th>
                            <th scope="col">Tapa</th>
                            <th scope="col" colspan="2" class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in libros %}
                            <tr>
                                <th scope="row">{{ libro.id }}</th>
                                <td>
                                    <a href="{% url 'libreria:book-detail' pk=libro.pk %}">{{ libro.title|title }}</a>
                                </td>
                                <td>{{ libro.editorial }}</td>
                                <td>{{ libro.isbn }}</td>
                                <td>{{ libro.price }}</td>
                                <td>{{ libro.author.fullname }}</td>
                                <td>
                                    {% for genero in libro.genre.all %}<span class="badge badge-pill badge-primary mx-1">{{ genero }}</span>{% endfor %}
                                </td>
                                <td>
                                    <img src="{{ libro.image.url }}"
                                         alt="{{ libro.title }}"
                                         width="30%"
                                         height="30%"/>
                                </td>
                                <td>
                                    {% if user.is_staff %}
                                        <a href="{% url 'libreria:book-update' pk=libro.pk %}"
                                           class="btn btn-warning">Editar</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'libreria:book-delete' pk=libro.pk %}"
                                           class="btn btn-danger">Eliminar</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
