{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Editar Perfil de {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-5">
                <h2>Editar perfil de {{ user.profile.user }}</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Actualizar Perfil</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
