{% extends "base.html" %}
{% block title %}
    {{ profile.user.username }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mt-3 w-auto">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ profile.image }}"
                         alt="{{ profile.user.username }}"
                         width="100%"
                         height="100%"/>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.phone }}</h5>
                        <p class="card-text">
                            {% if profile.resumen %}
                                {{ profile.address }}
                            {% else %}
                                {% lorem 200 w random %}.
                            {% endif %}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Precio: ${{ profile.fullname }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}