<footer class="bg-light">
  <div class="container py-3">
    <div class="row py-3">
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Nosotros</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a href="{% url 'about' %}" class="text-muted">Acerca de nosotros</a>
          </li>
          <li class="mb-2">
            <span class="text-muted">Email:</span>
            <a href="mailto:info@libreriatrelew.com" class="text-muted">info@libreriatrelew.com</a>
          </li>
          <li class="mb-2">
            <span class="text-muted">Telefono: </span>
            <a href="tel:+545555554848" class="text-muted">+54(555)555-4848</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Libreria</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a href="{% url 'login' %}" class="text-muted">Login</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'signup' %}" class="text-muted">Registro</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'libreria:book-list' %}" class="text-muted">Nuestros productos</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Nuestras Oficinas</h6>
        <p class="text-muted mb-4">Trelew, Chubut, Argentina</p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item">
            <a href="https://twitter.com/dfratesi" target="_blank" title="twitter"><i class="fab  fa-2x fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/dfratesi/"
               target="_blank"
               title="instagram"><i class="fab fa-2x fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="p-0 m-0 b-0" />
  <div class="bg-light py-2">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">&#169 2022 Libreria Trelew.</p>
    </div>
  </div>
</footer>
